*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}
body{
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(to right,#4caf50,#2e7d32);
}
.auth-container{
    background:white;
    padding:30px;
    width:320px;
    border-radius:10px;
    box-shadow:0 10px 25px rgba(0,0,0,0.2);
}
.auth-container h2{
    text-align:center;
    margin-bottom:20px;
}
.auth-container input{
    width:100%;
    padding:12px;
    margin:10px 0;
    border-radius: 5px;
    border:1px solid #ccc;
}
.auth-container button{
    background:#2e7d32;
    width:100%;
    padding:12px;
    color:white;
    border:none;
    border-radius: 5px;
    font-size:16px;
    cursor: pointer;
}
.auth-container button:hover{
    background:#1b5e20;
}
.auth-container a{
    color:#2e7d32;
    text-decoration: none;
}
.auth-container p{
    text-align: center;
    margin-top: 15px;
}