*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'segoe UI','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: #fdf7f0;
    color:#333;
    line-height: 1.6;
}
header{
    background-color: #2e7d32;
    color:white;
    padding:15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
header h1{
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 1px;
    
}
nav a{
    color:white;
    text-decoration: none;
    margin:0 15 px;
    font-weight: 500;
    transition: color 0.3s ease;
}
nav a:hover{
    color:#ffca28;
}
.hero{
    background-image: url(../fruit.imgs/apple.jpg.jpg);
    background-size: cover;
    background-position: center;
    color:white;
    text-align:center;
    padding:80px 20px;
}
.hero h2{
    font-size:2.5rem;
    margin-bottom: 15px;
    text-shadow:1px 1px 4px rgba(0,0,0,0.4) ;
}
.hero p{
    font-size:1.2rem;
    margin-bottom: 25px;
    text-shadow:1px 1px 4px rgba(0,0,0,0.4) ;
}
.hero .btn{
    background-color: #ffca28;
    color:#2e7d32;
    padding: 18px 40px;
    font-size: 1.3 rem;
    font-weight: bold;
    border:none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;

}
.features{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin:50px 20px;
    gap:20px;
}
.feature-card{
    background-color: white;
    padding:25px 20px;
    border-radius: 10px;
    width:250px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
    text-align: center;
    transition: transform 0.3s ease,box-shadow 0.3s ease;
}
.feature-card:hover{
    transform:translate(-5px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}
fruit-gallery{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    gap:20px;
    margin:50px 20px;

}
.fruit-card img{
    width: 5px;
    height:5px;
   
    border-radius: 50%;
    margin-bottom: 10px;
}

.fruit-card h3{
    color:#2e7d32;
    margin-bottom:5px;
}
.fruit-card p{
    font-weight:bold;
    margin-bottom: 10px;
}
.fruit-card button{
    background-color: #2e7d32;
    color:white;
    padding: 8px 20px;
    border:none;
    border-radius: 5px;
    cursor:pointer;
    transition: background 0.3s ease;
}
.fruit-card button:hover{
    background-color: #f9a825;
    transition: scale(1.05);

}
.media{
    text-align:center;
    padding :40px;
}
.media video,
.media audio{
    margin-top:15px;
}